VITE_API_URL=/api/v1
VITE_GOOGLE_CLIENT_ID=replace-with-google-client-id.apps.googleusercontent.com
VITE_LEGAL_BUSINESS_NAME=MENDOZA HUAMANI GRACIELA
VITE_LEGAL_RUC=10250028747
VITE_LEGAL_ADDRESS=Comunidad Chocco Kuychiro s/n, Santiago, Cusco, Cusco, Peru
VITE_LEGAL_EMAIL=elvallecitodechocco@gmail.com
VITE_LEGAL_PHONE=+51 994 744 356
VITE_LEGAL_SECONDARY_PHONE=+51 925 957 233
VITE_DATA_BANK_REGISTRATION=
